@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require perfect-scrollbar
 */

.verified {
  color: #2980b9;
}

.text200 {
  font-size: 200%;
}

.lightgray {
  color: #afafaf;
}

.profile-bio {
  width: 60%;
}

 .follow-button {
   text-transform: uppercase;
   border-color: #4090db;
   color: #4090db;
   margin-left: 20px;
   &:visited, &:focus, &:hover {
     border-color: #2D6396;
     color: #2D6396;
   }
 }

 .unfollow-button {
   text-transform: uppercase;
   border-color: #2980b9;
   background-color: #2980b9;
   color: white;
   margin-left: 20px;
   &:visited, &:focus, &:hover {
     border-color: #2980b9;
     background-color: #2980b9;
     color: white;
   }
 }

.notification-index-list {
  margin-top: 5em;
  list-style: none;
  li {
    margin-top: 1em;
    background-color: #FFF;
    padding: 1em;
  }
}

.notification-dropdown {
  margin-top: 10px;
  button {
    border: none;
  }
}

.small-margin {
  width: 80%;
  margin: 0 auto;
}

.fileinput-button::-webkit-file-upload-button {
  visibility: hidden;
  width: 100%;
  position: relative;
}
.fileinput-button::before {
  content: 'choose file';
  display: inline-block;
  background: transparent;
  border: 1px solid #818488;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  position: relative;
  width: 50%;
  left: 25%;
  text-align: center;
}

.picupload-button::-webkit-file-upload-button {
  visibility: hidden;
  width: 100%;
  position: relative;
}

.picupload-button::before {
  content: 'choose file';
  display: inline-block;
  background: transparent;
  border: 1px solid #818488;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  position: relative;
  width: 50%;
  left: 67%;
  text-align: center;
}

a:hover {
  text-decoration: none;
}


.like-button {
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  a {
    color: #2980b9;
  }
}

.like {
 text-decoration: none;
 color: red;
}

#user_avatar {
  margin: 20px auto;
}

.profile-image-2 {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.likes {
 margin-top: 20px;
 margin-bottom: 7px;
}


.profile-header {
 padding: 20px 0;
}
.user-name-and-follow {
 display: inline;
}
.profile-user-name {
 display: inline;
}
.edit-button {
 border-color: #818488;
 color: #818488;
 margin-left: 20px;
}
.profile-bio {
 margin-top: 20px;
}

.profile-realname {
 margin-top: 20px;
 font-weight: 550;
}

.comments {
  .paginator {
    .more-comments {
      color: #A5A7AA;
    }
  }
}

 #paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
  border: 1px solid #2D6DA8;
  border-radius: 50%;
  }
 }
 #load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
  color: #2D6DA8;
  }
 }

 .navbar {
  margin-bottom: 0px;
 }

.pic-input {
  display:flex;
justify-content:center;
align-items:center;
width:642px;
}

 .alert {
  margin-bottom: 0px;
 }

 html {
     height: 100%;
 }

.btn-lg {
    background-color: #2980b9;
    transition: all 0.3s ease 0s;
}


 .registration-bg {
     padding-top: 4em;
     height: 100%;
     background-image: image-url('logbg.jpg');
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
 }

 .login-bg {
     padding-top: 4em;
     height: 100%;
     background-image: image-url('regbg.jpg');
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
 }
 .log-in {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     border: none;
 }
 .panel {
     border-radius: 8px;

 }
 .panel-heading {
     h1 {
         text-align: center;
     }
 }

 .input-lg {
   width: 90%;
   padding-bottom: 2%;
   border: 5px solid white;
   -webkit-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);
box-shadow:
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);
padding: 15px;
background: rgba(255,255,255,0.5);
margin: 0 0 10px 0;
  border-radius: 5px;
 }

 .error_notification {
   color: red;
 }

 body {
     background-color: #fafafa;
     font-family: proxima-nova, 'Montserrat', sans-serif;
 }

 .navbar-brand {
     a {
         color: #2980b9;
     }
 }
 .navbar-default {
     background-color: #fff;
     height: 54px;
     .navbar-nav li a {
         color: #2980b9;
     }
 }
 .navbar-container {
     width: 70%;
     margin: 0 auto;
 }
 /* ## POST CUSTOMISATIONS ## */

 .posts-wrapper {
     padding-top: 40px;
     margin: 0 auto;
     max-width: 642px;
     width: 100%;
 }
 .post {
    box-shadow: 0 4px 8px 0 rgba(41, 128, 185, 0.2), 0 6px 20px 0 rgba(41, 128, 185, 0.19);
     background-color: #fff;
     border-color: #edeeee;
     border-style: solid;
     border-radius: 3px;
     border-width: 1px;
     margin-bottom: 60px;
     .post-head {
         flex-direction: row;
         height: 64px;
         padding-left: 24px;
         padding-right: 24px;
         padding-top: 24px;
         color: #2980b9;
         font-size: 15px;
         line-height: 18px;
         .user-name, .time-ago {
             display: inline;
         }
         .user-name {
             font-weight: 500;
         }
         .time-ago {
             color: #A5A7AA;
             float: right;
         }
     }
     .image {
         border-bottom: 1px solid #eeefef;
         border-top: 1px solid #eeefef;
     }
 }
 .post-bottom {
     .user-name, .comment-content {
         display: inline;
     }
     .caption {
         margin-bottom: 7px;
     }
     .user-name {
         font-weight: 590;
         margin-right: 0.3em;
         color: #2980b9;
         font-size: 15px;
     }
     .user-name,
     .caption-content {
         display: inline;
     }
     #comment {
         margin-top: 7px;
         .user-name {
             font-weight: 500;
             margin-right: 0.3em;
         }
         .delete-comment {
             float: right;
             color: #515151;
         }
     }
     margin-bottom: 7px;
     padding-top: 24px;
     padding-left: 24px;
     padding-right: 24px;
     padding-bottom: 10px;
     font-size: 15px;
     line-height: 18px;
 }
 .comment_content {
     font-size: 15px;
     line-height: 18px;
     border: medium none;
     width: 100%;
     color: #4B4F54;
 }
 .comment-like-form {
     padding-top: 24px;
     margin-top: 13px;
     margin-left: 24px;
     margin-right: 24px;
     min-height: 68px;
     align-items: center;
     border-top: 1px solid #EEEFEF;
     flex-direction: row;
     justify-content: center;
 }
 /* ## Wrapper and styling for the new and edit views ## */

 .form-wrapper {
     width: 60%;
     margin: 20px auto;
     background-color: #fff;
     padding: 40px;
     border: 1px solid #eeefef;
     border-radius: 3px;
 }
 .edit-links {
     margin-top: 20px;
     margin-bottom: 40px;
 }

 @keyframes fadein {
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-moz-keyframes fadein { /* Firefox */
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-webkit-keyframes fadein { /* Safari and Chrome */
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-o-keyframes fadein { /* Opera */
     from {
         opacity:0;
     }
     to {
         opacity: 1;
     }
 }

 .btn-primary, .btn-success {
   background-color: #2980b9;
 }

 img {
   box-shadow: 0 4px 8px 0 rgba(41, 128, 185, 0.2), 0 6px 20px 0 rgba(41, 128, 185, 0.19);
 }

 .pclass {
   width: 640px;
   height: auto;
 }

 .middo {
   color: #FFF;
   padding-top: 15%;
   font-size: 125%;
   a {
     color: #FFF;
   }
 }

 .naa {
   position: fixed;
   display: none;
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
 }
